/* прибирання маржинів в заголовках і абзаці */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* прибирання підкреслення в посиланнях */
.link {
    text-decoration: none;
}

/* прибираємо маркери, маржини і падінги в списках */
.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

// .picture {
//     line-height: 0;
    
// }

/* робить елемент невидимим */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* основні властивості body */
body {
    background-color: #E5E5E5;
       font-family: $font-primary;
    @include text-styles(14px,400,1.22);
    
    
    
    
    //  &.is-open {
    
    //         width: 100vw;
    //         height: 100vh;
    //         overflow: hidden;
            
    //     }
      
    
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    // width: 100%;
    
    
   
    // @media screen and (max-width: 319px) {
    //     width: 320px;
    //     // height:100%;
    //     // overflow: auto;
        
    // }

    // @media screen and (min-width: 320px) {
    //     max-width: 480px;
        
    // }
    // @media screen and (min-width: 480px) {
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    // @media screen and (min-width: 768px) {
    //     max-width: 768px;
    // }
    // @media screen and (min-width: 1200px) {
    //     max-width: 1200px;
    // }
}
