.header__container {
    // background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 540px;
    // background-color: red;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 53%, rgba(0, 0, 0, 0)), url(../images/fp.png);
    background-size: 320px 350px, 320px 354px;
    background-position: left top, 0px 186px;
    background-repeat: no-repeat, no-repeat;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav__list {
    display: flex;
    
}

.nav__item:not(:last-child) {
    margin-right: 25px;
}
.nav__link {
    color: white;
}
.nav__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    
}

// fp
.fp {
    color: #FFFFFF;
}
.title-h3 {
    font-family: $font-secondary;
    @include text-styles(24px, 500, 1.18);
}
.fp__title--margin {
    margin-bottom: 15px;
}

.p-small-regular {
    @include text-styles(14px, 400, 1.4);
}

.fp__text--margin {
    margin-bottom: 8px;
}



.button__hero {
    margin-right: 30px;
}

.hero__text {
    font-family: 'atomic alice';
    @include text-styles(14px, 400, 1.26);

}