// основні кольори сайту
$background-color: #373737;
$active: #C80000;
$dark: #232323;
$active-light: #ED0C0C;
$dark-light: #303030;
$text-color: #ADACAC;
// шрифти веб-сайту
$font-primary: Montserrat, sans-serif;
$font-secondary: Jura, sans-serif;
:root {
    /* час трансформації */
    --trans-duration: 250ms;
    /* функція розподілу часу */
    --trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
    font-family: 'atomic alice', sans-serif;
    src: url(../../fonts/FontsFree-Net-Atomic-Alice3.ttf);
}